@import "tailwindcss";
/*
body {
  background: white;
  color: #515afa;
}

h2,
h3,
h4 {
  color: black;
}
*/

@layer components {
  .boton-guardar {
    @apply font-semibold px-4 py-2 rounded bg-green-600 text-green-100 cursor-pointer;
  }

  .boton-editar {
    @apply font-semibold px-4 py-2 rounded bg-orange-500 text-orange-100 cursor-pointer;
  }

  .boton-detalles {
    @apply font-semibold px-4 py-2 rounded bg-blue-900 text-blue-100 cursor-pointer;
  }

  .boton-eliminar {
    @apply font-semibold px-4 py-2 rounded  bg-red-600 text-red-100 cursor-pointer;
  }

  .botones-grupo {
    @apply flex justify-center space-x-3;
  }

  .formulario {
    @apply flex flex-col items-center justify-center min-h-screen text-xl overflow-y-auto;
  }

  .formulario-dentro {
    @apply p-6 bg-slate-50 rounded shadow-md w-full max-w-lg border border-gray-300;
  }

  .formulario-titulo {
    @apply mb-4 text-2xl text-white text-center bg-blue-900 rounded-sm w-full h-12 flex items-center justify-center font-bold;
  }

  .formulario-elemento {
    @apply text-left  mb-1 mt-1 text-black pb-1 px-1 font-semibold;
  }

  .formulario-input {
    @apply p-1 pl-2  bg-white border rounded-sm w-full border-gray-300;
  }

  .formulario-lista {
    @apply flex flex-col gap-1 p-1;
  }

  .mensaje-error {
    @apply text-red-500 text-sm;
  }
}
/*bg-white border border-gray-300 rounded w-full text-black px-1 mb-4;*/
